/* typography */

article {
    font-size: 1.25em;
}

/* other stuff */

.article-title {
    font-size: 2em;
    font-family: sans-serif;
    margin: 0
}

.post-date {
    color: gray;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-block-end: 1em;
}

article p {
    text-indent: 2em;
}

.ingredients {
    margin: auto;
    max-width: 899px;
    height: 305px;
    background-image: url('./lab-assets/list-bg.png');
    background-position: left center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 40px;
}

.ingredients-list {
    columns: 2 200px;
    list-style-type: '\2610';
}

.ingredients-list li {
    line-height: 1.5em;
}

.checked {
    list-style-type: '\2611';
    text-decoration: line-through;
}