@import url('./article-styles.css');

@font-face {
    font-family: 'Pacifico';
    src: url('./lab-assets/fonts/Pacifico-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.space-apart {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#page-wrapper {
    margin: auto;
    width: 50%;
}

header {
    margin-block-end: 2em;
}

.logo-img {
    float: left;
}

.delicious {
    margin-block-start: 1em;
}

.cursive-text {
    font-family: 'Pacifico';
    font-style: italic;
    font-size: 1.25em;
    margin: 0;
}

.byline {
    font-size: .7em;
    margin: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    color: gray;
}

header ul {
    margin-block-start: 1em;
    list-style: none;
    display: flex;
    float: right;
    padding-inline-start: 0;
}

.icon-img {
    padding: 1px;
}

.print-page {
    float: right;
}

.full-size-img {
    width: 100%;
}

.ingredients-list {
    columns: 2 auto;
}

#page-footer {
    text-align: center;
}